extends layout

block content
  h1= "Add a book"
  p Enter required fields and submit to create your new book.
  form(method='POST' action='/add')
    div(class="form-group")
      label(class="col-form-label", for='title') Title*:
      input(class="form-control", type='text', placeholder='Enter your title' name='title' required="true")
    div(class="form-group")
      label(class="col-form-label", for='author') Author*:
      input(class="form-control", type='text', placeholder='author' name='author' required="true")
    div(class="form-group")
      label(class="col-form-label", for='description') Description*:
      textarea(class="form-control", placeholder='Write your description' name='description' required="true")

    button.btn.btn-primary(type='submit') Create
